<div class = "row">
	<div class = "col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" id="headbar">
		<div class="">
			<img src="images/me.jpg" alt="Picture Of Me" class="img-thumbnail img-rounded margin-auto" id="pictureOfMe">
		</div>
	</div>
</div>

<div class = "row">
	<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" id = "content">
		<div id="content-title">
			<h1>Hi, I'm Allan</h1>
		</div>
		<div class="col-xs-12 ">
			<div class="about-paragraph">
				<h2>Personal Strengths</h2>	
				<h5>Open communicator 	 •   Problem solving skills  •  Passion for excellence</h5>
				<h5>Can-do attitude •  creative contributor • Life-long learner</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="about-box">
				<h2> Details </h2>
				<h4> Name: </h4> <h5> Allan Ferencz</h5>
				<h4> Age: </h4> <h5> 20</h5>
				<h4> Location: </h4> <h5> Ontario, Canada</h5>
				<h4> Email: </h4> <h5> allanferenczmail@gmail.com</h5>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="about-box">
				<h2> Personality </h2>
				<h4> Interests: </h4> <h5> Fish, Esports, Pixel Art, Puzzles, Chess</h5>
				<h4> Goals: </h4> 
				<ul>
				<li><strike><h5> Complete my Degree </h5></strike></li>
				<li><h5> Obtain a Job (3 months) </h5></li>
				<li><h5> Learn More Languages (1 year) </h5></li>
				<li><h5> Master a language (3 year) </h5></li>
				<li><h5> Create a game (7 years)</h5></li>
				<li><h5> Become a leader in Programing (15 years)</h5></li>
				</ul>	
			</div>
		</div>
		<!-- <div class="content-bar2-top"></div><div class="content-bar2-bottom"></div> -->

		<!-- <div class="col-xs-12">
			<div class="about-title">
				<h2>Technical Skills</h2>
			</div>
		</div>

		<div class="col-xs-12 padding-off">
			<button class="content-button" id="btnContentNormalize" onClick="changeNormalize();"> <h2>Database Normalization</h2></button>
			<button class="content-button" id="btnContentObject" onClick="changeObject();"><h2>Object Oriented</h2></button>
			<button class="content-button" id="btnContentSDLC" onClick="changeSDLC();"><h2>SDLC</h2></button>	
			<button class="content-button" id="btnContentAgile" onClick="changeAgile();"><h2>Agile Development</h2></button>	
			<button class="content-button" id="btnContentDocument" onClick="changeDocument();"><h2>Documentation</h2></button>	
		</div>
		<div class="col-xs-12 about-select-box" id="content-change-box">
			<div class="about-title">
				<h3  id="selectionTitle">Database Normalization</h3>
			</div>

			<div class="about-select-paragraph">
				<h4 id="selectionText"> I'm able to normalize a database. When done correctly this can be used to save space and make the database efficient.</h4>
			</div>
		</div> -->
	</div>
</div>
