<div class = "row">
	<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" id = "content">
		<div id="content-title">
			<h1>Projects</h1>
		</div>
		<div class="col-sm-12">
			<!-- <div class="project-wrapper">
				<div class="project-box">
					<a href="/projects/testproject">
							<img src="images/mirage.jpg" alt="project" class="img-thumbnail img-rounded margin-auto project-pic">
						<div class="project-titles">
							<h6>We Sell Homes</h6>
						</div>
					</a>
				</div>
			</div> -->
		</div>
	</div>
</div>